<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        // bootstrap
        link(rel="stylesheet", href="/css/bulma.min.css")
        link(rel="stylesheet", href="/css/fontawesome-all.min.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/toggle-menu.js")
        title title
    body
        nav.navbar.is-white
            .navbar-brand
                a.navbar-item(href="/")
                    img(src="/images/jiki-logo/jiki-logo.002.png" alt="Jiki: Community-based wiki engine written in JavaScript")
                .navbar-burger.burger(data-target="navMenu")
                    span
                    span
                    span
            #navMenu.navbar-menu
                .navbar-start
                    a.navbar-item(href="/recent-changes")
                        i.fas.fa-sync.m5
                        | 최근 변경
                    a.navbar-item(href="/recent-discusses")
                        i.fas.fa-comments.m5
                        | 최근 토론
                    a.navbar-item(href="/random")
                        i.fas.fa-random.m5
                        | 무작위
                .navbar-end
                    a.navbar-item(href="/user")
                        i.fas.fa-user.m5
                        | 사용자
                    a.navbar-item(href="/setting")
                        i.fas.fa-cogs.m5
                        | 설정
                    .navbar-item
                        .field.has-addons
                            .control.is-expanded
                                input.input.is-info(type="text" placeholder="문서 검색")
                            .control
                                a.button.is-info
                                    i.fas.fa-search
        section.hero.is-info.is-bold
            .hero-body
                .container
                    p.title
                        | 문서 제목
                    p.subtitle
                        | #{new Date().toString()}
            .hero-foot
                nav.tabs.is-boxed.is-right
                    .container
                        ul
                            li.is-active
                                a(href="#") 문서
                            li
                                a(href="#") 편집
                            li
                                a(href="#") 토론
                            li
                                a(href="#") 역사
                            li
                                a(href="#") 역링크
                            li
                                a(href="#") ACL
        section.section
            .container.content
                h1 asdf
        footer.footer
            .container
                .content.has-text-centered
                    p
                        strong Jiki
                        | : community-based wiki engine written in JavaScript
