i.m5 {
    margin: 5px;
}

i.m10 {
    margin: 10px;
}

.textarea {
    resize: none;
}

.edit-content {
    height: 400px;
}

pre, code, .edit-content {
    font-family: 'D2Coding', 'Menlo', 'Courier New', Courier, monospace;
}

pre ins {
    background: #63f094;;
    text-decoration: none;
    border-radius: 3px;
    color: #2a2a2a;
}

pre del {
    background: #ff707c;
    text-decoration: none;
    border-radius: 3px;
    color: #2a2a2a;
}